%heading {
  font-weight: 400;
  font-family: $font-display;
}

.heading-1 {
  @extend %heading;
}

.heading-2 {
  @extend %heading;

  font-size: 4rem;
  font-style: italic;
  line-height: 1;

  &--light {
    color: $color-grey-light-1;
  }

  &--dark {
    color: $color-grey-dark-1;
  }
}

.heading-3 {
  @extend %heading;

  color: $color-primary;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;

  color: $color-grey-dark-1;
  font-size: 1.9rem;

  &--light {
    color: $color-grey-light-1;
  }
}

.btn {
  padding: 1.8rem 3rem;
  color: #fff;
  font-size: 1.5rem;
  font-family: $font-display;
  text-transform: uppercase;
  background-color: $color-primary;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $color-primary-dark;
  }
}
